@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection {
  background: rgb(0, 123, 255, 0.3);
}
.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky {
  background: #f1f1f1;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #111;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #111;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  color: #007bff;
}
.banner {
  background: url("https://uploads-ssl.webflow.com/608a2332231e7dc0e7f31415/608a2332231e7d683bf31449_li-tzuni-507346-unsplash.jpg")
    no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about {
  padding: 30px 0;
}
.about .title {
  font-size: 38px;
  font-weight: 700;
}
.about p {
  padding-top: 20px;
  text-align: justify;
}
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content {
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content {
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content {
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #111;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 27px;
  }
}

.hero-intro {
  height: auto;
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 11.2rem;
  margin-bottom: 40px;
  border-radius: 16px;
}

#hero-intro-title {
  text-align: center;
  position: static;
  display: block;
  padding-bottom: 16px;
  font-size: 13px;
  line-height: 16px;
  color: #a5c926;
}

#hero-intro-heading {
  position: static;
  display: block;
  padding-bottom: 20px;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: 400px;
  font-style: normal;
  text-decoration: none;
}

#hero-intro-button {
  background-color: #a5c926;
  border-radius: 24px;
  color: #fff;
  padding: 12px, 28px, 12px, 28px;
  width: 120px;
  height: 48px;
  text-align: center;
  margin: 0 auto;
}

#stuffed-Animals {
  background-color: #ffc12c;
  margin: 5rem 1rem 1rem 1rem;
  border-radius: 16px;
  text-align: center;
}

#stuffed-animals-p {
  color: white;
  margin-bottom: 16px;
  text-transform: capitalize;
  font-size: 1.3rem;
}

#stuffed-animals-button {
  padding: 8px 24px 8px 24px;
  border-radius: 24px;
  margin-bottom: 3rem;
}

#wooden-toys {
  background-color: #fb416b;
  margin: 5rem 1rem 1rem 1rem;
  border-radius: 16px;
  text-align: center;
}

#wooden-toys-p {
  color: white;
  margin-bottom: 16px;
  text-transform: capitalize;
  font-size: 1.3rem;
}

#wooden-toys-button {
  padding: 8px 24px 8px 24px;
  border-radius: 24px;
  margin-bottom: 3rem;
}

#stuffed-animals-header {
  border: solid rgb(10, 255, 10);
  font-size: 1.3rem;
  text-transform: capitalize;
}

#stuffed-animals-link {
  display: inline-block;
}

#stuffed-products {
  background-color: #f0f0f0;
}

#product-teddy-bear {
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  padding: 24px 24px 32px 24px;
  margin: 20px 16px 21px 16px;
}

#teddy-bear {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#product-teddy-p {
  text-transform: capitalize;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

#product-teddy-button {
  background-color: #a5c926;
  color: white;
  border-radius: 1rem;
  padding: 2px 12px 2px 12px;
  font-size: 1rem;
}

#product-mega-plush {
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  padding: 24px 24px 32px 24px;
  margin: 20px 16px 21px 16px;
}

#mega-plush-pic {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#product-mega-p {
  text-transform: capitalize;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

#product-mega-button {
  background-color: #a5c926;
  color: white;
  border-radius: 1rem;
  padding: 2px 12px 2px 12px;
  font-size: 1rem;
}

#product-cute-dog {
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  padding: 24px 24px 32px 24px;
  margin: 20px 16px 21px 16px;
}

#cute-dog-pic {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#product-dog-p {
  text-transform: capitalize;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

#product-dog-button {
  background-color: #a5c926;
  color: white;
  border-radius: 1rem;
  padding: 2px 12px 2px 12px;
  font-size: 1rem;
}

#product-little-friend {
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  padding: 24px 24px 32px 24px;
  margin: 20px 16px 21px 16px;
}

#little-friend-pic {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#product-friend-p {
  text-transform: capitalize;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

#product-friend-button {
  background-color: #a5c926;
  color: white;
  border-radius: 1rem;
  padding: 2px 12px 2px 12px;
  font-size: 1rem;
}

.second-banner {
  background: url("https://uploads-ssl.webflow.com/608a2332231e7dc0e7f31415/608a2332231e7d1ecbf3146d_tim-gouw-165547-unsplash.jpg")
    no-repeat;
  height: 72vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(50%);
}

#little-about {
  position: absolute;
  top: 280rem;
  color: oldlace;
  left: 6em;
  font-size: 1rem;
}

#watch-story-header {
  position: absolute;
  top: 284rem;
  color: oldlace;
  left: 1.1em;
  font-size: 2.3rem;
  text-align: justify;
}

#sub-text {
  position: absolute;
  top: 293rem;
  color: whitesmoke;
  left: 1em;
  font-size: 0.9rem;
}
